@media (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
    }
}